<template>
 <div class="grid">

    <div class="header">
      <div class="cart">
        <h1>products</h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h1>cart</h1>
      </div>
      <div class="head">
        <h2>E-Shop</h2>
      </div>
    </div>
 </div>
</template>

<script>
// @ is an alias to /src
import ProductList from '@/components/shopping/ProductList.vue'

export default {
  name: 'home',
  components: {
    ProductList
  }
}
</script>
