<template>
  <div class="hello">
    <home-page></home-page>
  </div>
</template>

<script>
import HomePage from "./shopping/HomePage.vue"
export default {
  name: 'HelloWorld',
  components: {
      HomePage
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.wrapper > article{
  background: #42b983
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}


</style>
