<template>

    <div padding="10">
        <div>
            <!-- <article class=""> -->
                <div>
                    <product-list></product-list>
                </div>
            <!-- </article> -->
            <!-- <article class="content"> -->
                <div  v-if="totalCost >0.0">
                    <shopping-cart></shopping-cart>
                    <p v-if="totalCost > 0.0"><b>Total: {{ totalCost | currency }}</b></p>
                </div>
            <!-- </article> -->
    </div>

  </div>
     
</template>

<script>
import ProductList from "./ProductList.vue"
import ShoppingCart from "./ShoppingCart.vue"
import {Storage} from './Storage.js';
import axios  from "axios";
import uniq from 'lodash/uniq';
export default {
    name: "HomePage",
    components:{
        Storage,
        ProductList,
        ShoppingCart
    },
    computed:{
        totalCost(){
            return Storage.totalCost
        }
    }
    
    

}
</script>

<style>

</style>
