<template>
<div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Product info</p>
    </header>
    <section class="modal-card-body">
        <div class="card-image">
            <figure class="image is-4by3">
                <img :src="product.image" alt="Image">
            </figure>
        </div>
        <div class="content">
            <h2 style="text-align: center">{{product.name}}</h2>

            <p style="text-align: center">{{product.description}}</p>
            <div style="text-align: center">
                <strong>Price: {{product.price | currency}}<br /></strong>
                <strong>Location: {{product.store}}</strong><br />
                <strong>Department: {{product.department}}</strong><br />
                <strong>Product Code: {{product.productcode}}</strong>
            </div>

        </div>
    </section>
    <footer class="modal-card-foot">
        <button class="button is-link is-rounded" type="button" @click="$parent.close()">Close</button>
    </footer>
</div>
</template>

<script>
export default {
    name: "ProductPage",
    props: ['product'],



}
</script>