<template>
    <div>
        <h2>Products</h2>
    <br />
    <div class="filter">
        <div class="field" v-on:change="availableStock()">
            <b-checkbox>Available</b-checkbox>
        </div>

        <div v-for="(store, store_index) in stores" class="field" :key="store_index">
            <input type="checkbox" class="checkbox field" style="width:20px; height:20px"  v-model="checkedLocations" v-bind:value="store"> {{store}}
            <br />
        </div>

    <br />
    </div>

    <div >
        <VirtualList :size="200" :remain="6" :bench="100" class="list" :start="startIndex">


            <div class="el" >

                    <figure class=" card snip1423" v-for="(item, item_index) in filteredList" :key="item_index" >
                        <img :src="item.image" @click="productModal(item)"/>
                        <figcaption>
                            <h3>{{item.name}}</h3>
                            <p>{{item.description}}</p>
                            <div class="price">
                                {{item.price | currency }}
                            </div>
                        </figcaption><i class="fa fa-cart-arrow-down" @click='addProductToCart(item)'></i>
                        <a ></a>
                    </figure>
                <!--</div>-->

            </div>
        </VirtualList>
    </div>


</div>

</template>

<script>
import uniq from 'lodash/uniq';
import axios from 'axios';
import ProductPage from "./ProductPage.vue"
import {Storage} from './Storage.js';
import VirtualList from 'vue-virtual-scroll-list';
export default {
    name: "ProductList",
    components:{
        ProductPage,
        VirtualList
    }, 
    data: function() {
        return {
            
            available: true,  

            items: [],

            products:[],
                
            cart: Storage.$data.cart,
            checkedLocations: [],
            stores: [],
            startIndex: 0,
            
        }
    },     
    mounted: function() {
        const cart = JSON.parse(this.$localStorage.get('cart'))
        if (cart) {
        Storage.$data.cart = cart
        }
     this.$http.get('https://erply-challenge.herokuapp.com/list',{
         params: {
            AUTH: 'fae7b9f6-6363-45a1-a9c9-3def2dae206d',
            
         }
     })
     .then(
         response=>{
             this.products = response.data
             this.items = this.products
             this.stores = uniq(this.products.map(p => p.store))
             console.log(this.products[0])
         }
     ).catch(error=> {
         console.log(error)
     })
        
},
    
    methods: {
        productModal: function(product) {
            this.$modal.open({
                parent: this,
                component: ProductPage,
                props: { product: product }
            });
        
        },
        addProductToCart(product){
            Storage.addProductToCart(product)


        },
        availableStock(){
            if(this.available){

            this.items =  this.products.filter(p => {return p.instock === true})
            this.available = false
            }else
            {    

                this.items = this.products
                this.available = true
            }
            
        },
    },
    computed:{
        filteredList() {
            if (!this.checkedLocations.length)
              return this.items
            return this.items.filter(p => this.checkedLocations.includes(p.store))
        },
    }

}
</script>

<style scoped>

.el{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-columns: 30% 30% 40%;
  width: 100%;
}


@media only screen and (min-width: 768px)  {

.header h2 {
  color: blue;
}

.el {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}


}

@media only screen and (min-width: 481px) and (max-width: 767px) {

  /* //CSS */
  .header h2 {
    color: red;
  }


  /* 2 lanes */
.el {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (max-width: 480px) {

  .header h2 {
    color: black;
  }

}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}  

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */


}

.filter {
  width: 100%;
  height: 100%;
  grid-area: filter;
  margin: auto;
  background-color: #eee;
  top: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
img {
    border-radius: 5px 5px 0 0;
}
.snip1423 {
    font-family: 'Oswald', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 20px 1%;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    background: #ffffff;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.snip1423 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.snip1423 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}
.snip1423 figcaption {
    padding: 20px 15px;
}
.snip1423 h3,
.snip1423 p {
    margin: 0;
}
.snip1423 h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.snip1423 p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 300;
}
.snip1423 .price {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 48px;
    letter-spacing: 1px;
}
.snip1423 .price s {
    margin-right: 5px;
    opacity: 0.5;
    font-size: 0.9em;
}
.snip1423 i {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    width: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    background-color: #666666;
    color: #ffffff;
    font-size: 1.6em;
    border: 4px solid #ffffff;
}
.snip1423 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.snip1423:hover,
.snip1423.hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.snip1423:hover i,
.snip1423.hover i {
    background-color: #2980b9;
}

</style>
