<template>
    <div>
        <h2>Shopping Cart</h2>

        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center">Name</th>
                <th class="has-text-center">Price</th>
                <th class="has-text-center">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(product, product_index) in cart" :key="product_index">
                <td>
                    {{product.details.name}} <br/>

                </td>
                <td class="has-text-centered">{{product.details.price | currency}}</td>
                <td class="has-text-centered">{{product.quantity}}</td>
                <td>
                    <a class="button is-link is-small is-outlined is-success" @click='addProductToCart(product.details)'> + </a>
                    <a class="button is-link is-small is-outlined is-danger" @click='removeProductFromCart(product.details.id)'> + </a>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>Total</td>
                <td class="has-text-centered"><strong>{{totalCost | currency }}</strong></td>
                <td></td>

            </tr>
            </tbody>

            <br />
        </table>



    </div>
</template>

<script>
    import {Storage} from './Storage.js';

    export default {
        name: "ShoppingCart",
        data: function() {
            return {
                cart: Storage.$data.cart
            }},
        methods:{
            addProductToCart(product){
                Storage.addProductToCart(product)
                this.$localStorage.set('cart', JSON.stringify(Storage.$data.cart))


            },
            removeProductFromCart(id){
                Storage.removeProductFromCart(id)
                this.$localStorage.set('cart', JSON.stringify(Storage.$data.cart))


            }
        },
        computed:{
            totalCost(){
                return Storage.totalCost
            }
        }

    }
</script>

<style>
    strong{
        color: red;
    }

</style>