<template>
  <div id="app">

    <div class="grid">

      
    <div class="header">
      <div class="cart">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="fa fa-cart-arrow-down" @click="cartPopUp()">
              <span class="fa fa-circle"></span>
              <span class="num">{{itemsInCart}}</span>
          </a>
      </div>
      <div class="head">
        <h2>E-Shop</h2>
      </div>
    </div>
        <b-tabs type="is-toggle" expanded >
            <b-tab-item label="Products" icon="google-photos" class="content"><product-list></product-list></b-tab-item>
            <b-tab-item label="Cart" icon="library-music" class="content"><shopping-cart></shopping-cart></b-tab-item>
        </b-tabs>
 </div>
    
  </div>
  
</template>
<script>
  import ProductList from '@/components/shopping/ProductList.vue'
  import ShoppingCart from '@/components/shopping/ShoppingCart.vue'
  import CartModal from '@/components/shopping/CartModal.vue'
  import {Storage} from '@/components/shopping/Storage.js'

export default {
  
  components: {
      ProductList,
      ShoppingCart,
      CartModal
  },
  computed: {
    itemsInCart(){
      let cart = Storage.$data.cart;
      return cart.reduce((accum, item) => accum + item.quantity, 0)
    }
  },
    methods:{
        cartPopUp: function() {

            this.$modal.open({
                parent: this,
                component: CartModal,

            });

        },
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
      "header" 20vh
      "content" ;
  grid-template-columns: 1fr;
  overflow: auto;
}

@media only screen and (min-width: 768px)  {

    .head h2 {
        color: blue;
    }



}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    /* //CSS */
    .head h2 {
        color: red;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (max-width: 480px) {

   .header .head h2 {
        color: black;
       font-size: 1em;
    }

}



.header {
  width: 100%;
  height: 100%;
  grid-area: header;
  margin: auto;
  top: 0;
  padding: 0;
  display: grid;
  grid-template:
        "c1 c2 c3 c4 c5"
        "r1 r1 r1 r1 r1";



  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: bisque;
    grid-template-rows: 1fr 1fr;

}

.header h2 {
  width: 100%;
  height: auto;
  text-align: center;
  margin:auto;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 200%;

}

.cart {
  grid-area: c5;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cart h1 {
  font-size: 120%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
    height:50px;

}

.head {
  grid-area: r1;
  display: flex;
  justify-content: center;
}

a.fa-cart-arrow-down {
    position: relative;
    font-size: 3em;
    color: grey;
    cursor: pointer;
}
span.fa-circle {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: red;
    right: -4px;
}
span.num {
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
}
</style>
